    <%- include('header.ejs') %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>What if?</h1>
                            <span class="subheading">A Blog for What if everything...........</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    <% for(i=0;i<posts.length;i++) {
                        post=posts[i]%>
                    <!-- Post preview-->
                    <div class="post-preview">
                       
                            <h2 class="post-title"><%= post.title %></h2>
                            <h3 class="post-subtitle"><%= post.description %></h3>
                      
                            <p class="lh-base">
                                <%= truncate(post.post,100)%>
                            </p>
                        <p class="post-meta">
                            Posted by
                            <a href="#!"><%= post.author %></a>
                            <%= post.createdAt.toLocaleDateString() %>
                        </p>
                    </div>
                    <a href="/what-if/post/<%=post._id%>" class="btn-sm btn-secondary rounded-3">Read more</a>
                    <hr class="my-4" />
                     <%} %>
                </div>
            </div>
        </div>
            
        <!-- Footer-->
        
        <%- include('footer.ejs') %>
   
